.ht-blog__wrapper{
  padding:100px 100px;
  background-color:var(--cor-blog-bg);
}
.ht-blog__title{
  margin-bottom: 50px;

  text-align: center;
  font-size: 1.77rem;
  color:var(--cor-blog-titulo);
}
.ht-blog__desc{
  max-width: 750px;
  margin:0 auto;
  margin-bottom: 35px;

  color: var(--cor-blog-descricao);
  line-height: 22px;
  text-align: center;
}
.ht-blog__list{
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.ht-blog__item{
  width: 30%;
  margin-right: 25px;
  margin-bottom: 50px;
  background:var(--cor-blog-item);
  border-radius: 15px;
  overflow: hidden;

  color:var(--cor-texto);
  text-decoration: none;
}

.ht-blog__thumb{
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: cover;
  display: block;
  background-color: var(--cor-primaria);
}
.ht-blog__item:nth-child(3n){ margin-right: 0; }
.ht-blog__info{
  padding:30px;
}
.ht-blog__info--title{
  margin-bottom: 15px;

  font-size: 1rem;
  text-transform: none;
}
.ht-blog__resume{
  font-size: 0.95rem;
  line-height: 22px;
}
.ht-blog__leia{
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--cor-primaria);
  text-decoration: underline;
}
.ht-blog__date{
  margin-top: 25px;

  font-size: 0.85rem;
  font-weight: bold;
  color: var(--cor-blog-cabecalho);
}
.ht-blog__search{
  display: grid;
  grid-template-columns: auto 120px;
  grid-gap: 10px;
  margin-bottom: 55px;
}
.ht-search__label{
  width: 100%;
  height: 70px;
  border-radius: 10px;
  background-color: var(--cor-blog-busca);
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}
.ht-search__icon{
  color: var(--cor-primaria);
  font-size: 1.25rem;
  margin: 20px;
}
.ht-search__field{
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0);
  border: 0;

  font-size: 1.25rem;
}
.ht-search__field:focus{ outline: none}
.search__button{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  border:0;
  border-radius: 15px;
  background-color: var(--cor-primaria);
  cursor: pointer;

  color: #ffffff;
  text-align: center;
}
.blog__no-post{
   width: 100%;
   display: flex;
   justify-content: center;
}
.blog__no-post--label{
  padding:25px;
  border-radius: 15px;
  background:#ffffff;
  display: table;

  color: #828282;
  font-weight: bold;
  font-size: 1.125rem;
}
.blog__mais{
  display: flex;
  margin-top: 55px;
  justify-content: center;
}
@media(max-width:800px ){
  .ht-blog__item{ width: 40%;  }
  .ht-blog__item:nth-child(3n){ margin-right: 25px; }
  .ht-blog__item:nth-child(2n){ margin-right: 0; }
}
@media(max-width:767px){
  .ht-blog__wrapper{ padding:100px 35px; }
  .ht-blog__item{
    width: 100%;
    margin-right: 0;
  }
  .ht-blog__item:nth-child(3n){ margin-right: 0; }
  .ht-blog__item:nth-child(2n){ margin-right: 0; }
}
/* Posts */

.ht-post{
  padding:100px 0;
  width: 100%;
  max-width: 750px;
  margin:0 auto;
}
.ht-post__container{
  padding:35px;
}
.ht-post__header{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding:15px;
  border:0;
  border-bottom: 1px solid #C4C4C4;
  margin-bottom: 35px;
}
.ht-post__author,
.ht-post__date{
  width: 50%;

  color: var(--cor-blog-cabecalho);
  font-size: 0.875rem;
}
.ht-post__date{ text-align: right; }
.ht-post__image{
  width: 100%;
  padding-bottom: 50%;
  margin-bottom: 35px;
  display: block;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  border-radius: 20px;

  text-indent: -9000px;
}
.ht-post p{
  margin-bottom: 35px;

  line-height: 22px;
}
.ht-post p:last-child{ margin-bottom: 0;}
.ht-post ul,
.ht-post ol{
  padding-left: 35px;
  padding-bottom: 35px;
}
.ht-post li{ margin-bottom: 10px;}
.alignleft{
  float: left;
  margin: 15px;
  margin-left: 0;
  margin-top: 0;
}
.alignright{
  float: right;
  display: inline;
  margin-left: 15px;
  margin-top: 0;
  margin-right: 0;
}
.ht-post .aligncenter{
  margin:15px auto;
  display: block;
}

.ht-post blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 25px;
  quotes: "\201C""\201D""\2018""\2019";
}
.ht-post blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.ht-post blockquote p {
  display: inline;
}
.ht-post__news{
  margin-top: 50px;
  background: #F2F2F2;
  border-radius: 10px;
  padding:35px;
}

.ht-post h1,
.ht-post h2,
.ht-post h3,
.ht-post h4,
.ht-post h5,
.ht-post h6{
  margin-bottom: 45px;
  display: block;

  color: var(--cor-principal);
  font-weight: bold;
}
.ht-post h1{ font-size: 1.77rem;  }
.ht-post h2{ font-size: 1.57rem;  }
.ht-post h3{ font-size: 1.47rem;  }
.ht-post h4{ font-size: 1.37rem;  }
.ht-post h5{ font-size: 1.27rem;  }
.ht-post h6{ font-size: 1.17rem;  }

@media(max-width:767px){
  .post{
    padding: 20px 35px;
    padding-bottom: 100px
  }
  .ht-post__author,
  .ht-post__date{
    width: 100%;

    text-align: left;
  }
  .ht-post__author{ margin-bottom: 10px;}
}
