

.contact{
    background-color: var(--cor-primaria);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:100px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ht-contact{
    height: 100vh;
  }
  .ht-contact__form{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2,1fr);
  }
  .ht-contact__wrapper--global{
    max-width: 450px;
    margin:0 auto;
  
    text-align: center;
    color: #ffffff;
  }
  .ht-contact__content{
    padding-bottom: 85px;
    padding-top: 50px;
  }
  @media(max-width:800px){
    .ht-contact__form{
      width: 100%;
      grid-template-columns: 1fr;
    }
    .ht-contact__wrapper{ width: 100%;}
  }
  @media(min-width:801px){
    .ht-contact__group--submit,
    .ht-contact__group--one-line{ grid-column: 1 / 3;}
  }
  .ht-contact__group--submit{
    margin-top: 20px;
    justify-self: end;
  }
  .ht-contact__title{ text-align: center;}
  .ht-contact__label{
    padding:10px;
    display: block;
  
    color: var(--cor-primaria);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
  }
  .ht-contact__field{
    display: block;
    padding:15px 0;
    margin-top: 15px;
    border: 0;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
  
    color: #5E5E5E;
    font-size: 1rem;
  }
  .ht-contact__field::placeholder{ color: #5E5E5E; }
  .ht-contact__field--textarea{ height: 100px;}
  .ht-contact__field:focus{ outline: none}
  .ht-contact__submit{
    background-color: var(--cor-botao-contato);
    cursor: pointer;
    min-width: 270px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  
    text-align: center;
  }
  .ht-contact__icon{ margin-left: 20px;}
  .ht-footer__contact{
    background-color: var(--cor-primaria);
    padding:80px 35px;
    display: flex;
    justify-content: center;
  
    color: #ffffff;
  }
  .ht-footer__contact--item{
    width: 350px;
    padding:25px;
    display: inline-block;
    margin:0 auto;
  }
  @media(max-width:1050px){
    .ht-footer__contact--item{
      width: 100%;
      padding-bottom: 50px;
    }
    .ht-footer__contact--item:last-child{ padding-bottom: 0;}
  }
  .ht-contact__item--wrapper{
    display: grid;
    grid-template-columns: 50px auto;
    grid-gap: 15px;
    align-items: center;
  }
  .ht-footer__contact--title{
    margin-bottom: 10px;
  
    font-size: 0.75rem;
  }
  .ht-footer__contact--text{ font-size: 0.9rem;}
  
  .contact-box{
    padding:100px 100px;
    background-color: #F2F2F2;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: "contact-box__content contact-box__image";
    align-items: center;
    grid-gap: 50px;
    width: 100%;
    min-height: 100vh;
  
    color: var(--cor-escura);
  }
  .representantes{
    padding:100px 100px;
    padding-bottom: 0;
    background: #FFFFFF;
  }
  .ht-contact__newsletter{
    padding: 100px 100px;
    padding-bottom: 0;
  }
  @media(max-width:500px){
    .contact-box{
      grid-template-columns: 1fr;
      padding:100px 35px;
      grid-template-areas: "contact-box__image"
                           "contact-box__content";
      justify-content: center;
    }
    .representantes{
      padding:100px 35px;
    }
    .ht-contact__newsletter{
      padding: 100px 35px;
      padding-bottom: 0;
    }
  }
  .contact-box__image{
    grid-area: contact-box__image;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .contact-box__content{ grid-area: contact-box__content }
  .contact-box__title{
    margin-bottom: 35px;
  
    color: var(--cor-primaria);
    font-size: 1.77rem;
    text-align: left;
  }
  .contact-box__text{
    margin:50px 0;
  
    font-size: 1rem;
  }
  .contact-box__text p{
    letter-spacing: 1px;
    line-height: 22px;
    color: var(--cor-escura);
  }
  @media(min-width:768px){
    .contact-box__text--scroll{
      max-height: 300px;
      overflow: auto;
    }
    .contact-box__text--scroll::-webkit-scrollbar {
      width: 10px;
      border-radius: 100px;
      transition: ease-in 0.3s;
    }
  
    /* Track */
    .contact-box__text--scroll::-webkit-scrollbar-track {
      background: rgba(0,0,0,0.15);
      border-radius: 100px;
      transition: ease-in 0.3s;
    }
  
    /* Handle */
    .contact-box__text--scroll::-webkit-scrollbar-thumb {
      background: rgba(0,0,0,0.3);
      border-radius: 100px;
    }
  
    /* Handle on hover */
    .contact-box__text--scroll::-webkit-scrollbar-thumb:hover {
      background: rgba(0,0,0,0.3);
    }
  
  }
  .contact-box__text p{ margin-bottom: 25px; }
  .contact-box__text p:last-child{ margin-bottom: 0; }
  
  .representantes__text{
    width: 100%;
    max-width: 630px;
    margin:0 auto;
    margin-bottom: 35px;
  
    color: var(--cor-escura);
    font-size: 1rem;
    text-align: center;
  }
  .representantes__title{ text-align: center;}
  .representantes__list{
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 230px;
    margin-top: 100px;
  }
  @media(max-width:500px){
    .representantes__list{
      grid-template-columns: 1fr;
      grid-gap: 30px
    }
  }
  .representante__item{
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    align-items: center;
    padding:15px;
  
    text-align: center;
  }
  .representante__wrapper{ width: 100%; }
  .representante__title{
    margin-bottom: 25px;
  
    color: #005887;
    font-weight: bold;
    font-size: 1rem;
  }
  .representante__tel,
  .representante__mail{
    margin-bottom: 15px;
  
    color: var(--cor-escura);
    font-size: 0.9rem;
    font-weight: normal;
  }
  .representante__endereco{
    color: var(--cor-primaria);
    font-size: 0.9rem;
  }
  .representantes__control{
    margin-top: 50px;
  
    text-align: center;
  }
  .representantes__combo{
    width: 100%;
    max-width: 420px;
    padding:10px;
    border-radius: 10px;
    border: 1px solid #828282;
    outline: none;
    -webkit-appearance:none;
  
    color: #828282;
  }
  
  .newsletter__form{
    width: 100%;
    max-width: 750px;
    margin:0 auto;
    border-radius: 15px;
    background: #F2F2F2;
    padding:35px;
    z-index: 10;
    transform: translateY(35px);
  
    text-align: center;
  }
  .newsletter__title,
  .newsletter__text,
  .newsletter__field{ margin-bottom: 50px;}
  .newsletter__field,
  .newsletter__submit{
    border-radius: 15px;
    width: 100%;
    max-width: 415px;
    margin-left: auto;
    margin-right: auto;
    border: 0;
    padding:20px;
    outline: none;
  }
  .newsletter__field{
    background: #ffffff;
  
    color: var(--cor-escura);
  }
  .newsletter__submit{
    background: #0CAF88;
    cursor: pointer;
  
    color: #ffffff;
  }
  