.ht-footer{
  display: grid;
  align-items: center;
  padding:15px;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  background:var(---cor-rodape-bg);

  color: var(--cor-rodape-text);
}
.ht-footer__image{
  height: auto;
  width: 100px;
}
.ht-footer__link--hat-trick{
  font-size: 0.55rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--cor-rodape-text);
  text-decoration: none;
}
.ht-footer__image--hat-trick{ margin-top: 10px; }
.ht-footer__social--item{
  padding:0 5px;

  font-size: 1.25rem;
  text-decoration: none;
  color: var(--cor-rodape-social);
}
.ht-footer__social{ text-align: center; }
@media(min-width:1000px)
{
  .ht-footer{
    grid-template-columns: 145px auto 120px 180px;
    height: 100px;
  }
  .ht-footer__nav{
    display: flex;
    justify-content:space-around;
  }
  .ht-footer__nav--item{ padding:10px 15px; }
  .ht-footer__items{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
  }
  .ht-footer__link{
    padding:0 15px;
  }
}
@media(max-width:999px){
  .ht-footer{
    background: var(--cor-rodape-bg);
    padding:100px 35px;
    display: grid;
    grid-gap: 50px;
  }
  .ht-footer__logo{
    display: block;
    max-width: 150px;
    margin:0 auto;
    text-align: center;
  }
  .ht-footer__nav{
    display: block;
    text-align: center;
  }
  .ht-footer__nav--item{ padding:20px 0; }
  .ht-footer__link {
    display: block;
    padding:20px 0;

    text-align: center;
  }
  .ht-footer__social--icon{
    margin:0 15px;

    font-size: 2rem;
    color: var(--cor-rodape-social);
    text-decoration: none;
  }
}
.ht-whatsapp{
  width: 75px;
  height: 75px;
  display: flex;
  position: fixed;
  right: 15px;
  bottom: 15px;
  background-color: var(--cor-whatsapp-bg);
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  z-index: 100;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transition: ease-in 0.3s;

  color: var(--cor-whatsapp-text);
  font-size: 2rem;
}
.ht-wpp__hide .ht-whatsapp{ display: none; }
.ht-ht-footer__nav--item{
  position: relative;
  display: inline-block;
  top: 0;
  padding:10px;

  color: #FFFFFF;
}
@media(max-width:999px){
  .ht-ht-footer__nav--item{
    display: block;
  }
}
.ht-ht-footer__nav--label{
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--cor-rodape-text);
  text-decoration: none;
}
.ht-ht-footer__map{
  width:100%;
  height: 450px;
}
.ht-ht-footer__map iframe{
  width: 100%;
  height: 100%;;
}