.ht-gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0;
    grid-auto-rows: 200px;
}
.ht-gallery__item{
    text-indent: -9000px;
    background-position: center;
    background-size: cover;

    text-decoration: none;
}
.ht-gallery__image{
    display: none;
}
.ht-gallery__item--more{
    text-indent: 0;
}
.ht-gallery__item--hide{
    display: none;
}
.ht-gallery__more{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.3);
    transition: ease-in 0.3s;

    color: #ffffff;
}
.ht-gallery__more:hover{
    background-color: rgba(0,0,0,0.6);
}
.ht-gallery__item--more .ht-gallery__more{
    background-color: rgba(0,0,0,0.75);
}
.ht-gallery__item--more .ht-gallery__more:hover{
    background-color: rgba(0,0,0,0.9);
}
.ht-more__icon{
    margin-bottom: 10px;

    font-size: 2rem;
}
@media(min-width:900px){
    .ht-gallery{
        grid-template-columns: repeat(3,1fr);
        grid-auto-rows: 400px;
    }
}