*{ box-sizing: border-box; }
body{ 
  margin-top: 100px;
  color: var(--cor-texto); 
}
#wpadminbar { z-index:10 !important;  }
.ht-title{
  display: block;
  margin-bottom: 35px;

  font-size: 1.77rem;
  color: var(--cor-primaria);
}
.ht-title--dark{ color: #ffffff; }
.ht-button{
  padding:15px 25px;
  border-radius: 20px;
  display: inline-block;
  background: #0476D9;
  transition: ease-in 0.3s;
  border:0;

  text-decoration: none;
  font-size: 1rem;
  color: #ffffff;
  
  filter: drop-shadow(0px 15px 30px rgba(3, 82, 151, 0.3));
}
.ht-button:hover{
  box-shadow: 0 5px 10px var(--cor-primaria-alpha);
}
.ht-button--active{ background-color: var(--cor-primaria); }
.ht-button--dark{
  background-color: #ffffff;

  color: var(--cor-primaria);
}
.ht-button--dark:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0.3);
}
.ht-button--dark-outline{
  background-color: rgba(255,255,255,0);
  border: 1px solid #ffffff;

  color: #ffffff;
}
.ht-button--dark-outline:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0);
}
.ht-button--light-outline{
  background-color: rgba(255,255,255,0);
  border: 1px solid var(--cor-primaria);

  color: var(--cor-primaria);
}
.ht-button--light-outline:hover{
  box-shadow: 0 5px 10px rgba(255,255,255,0);
}
.modal__wrapper{
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 11;
}
.modal__container{
  width: 100%;
  max-width: 750px;
  padding: 40px;
  max-height: 95%;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  z-index: 11;
  overflow: auto;
}
.modal__container::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Track */
.modal__container::-webkit-scrollbar-track {
  background: rgba(168,153,57,0.3);
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Handle */
.modal__container::-webkit-scrollbar-thumb {
  background: #A89939;
  border-radius: 100px;
}

/* Handle on hover */
.modal__container::-webkit-scrollbar-thumb:hover {
  background: #867a2e;
}
@media(max-width:767px){
  .modal__container{
    border-radius: 0;
    padding:20px;
    max-height: 100%;
  }
}
.modal__header{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: flex-end;
}
.modal__close{
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #C0392B;
  text-decoration: none;
}
.modal__body{
  width: 100%;
}
.modal__body p{ margin-bottom: 25px; }
.modal__body p:last-child{ margin-bottom: 0; }

.modal__body::-webkit-scrollbar {
  width: 10px;
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Track */
.modal__body::-webkit-scrollbar-track {
  background: rgba(168,153,57,0.3);
  border-radius: 100px;
  transition: ease-in 0.3s;
}

/* Handle */
.modal__body::-webkit-scrollbar-thumb {
  background: #A89939;
  border-radius: 100px;
}

/* Handle on hover */
.modal__body::-webkit-scrollbar-thumb:hover {
  background: #867a2e;
}
.ht-section__double,
.ht-section__single{
  display: grid;
  grid-gap: 0;
  padding:0;
  margin:0;
  width: 100%;
  grid-template-columns: 1fr;
}
.ht-single__wrapper{
  padding:100px 25px;
  background: #ffffff;
}
.ht-single__text{ text-align: center;}
.ht-section__double--text-first{
  grid-template-areas: "ht-section__text"
                       "ht-section__image";
}
.ht-section__double--image-first{
  grid-template-areas: "ht-section__image"
                       "ht-section__text";
}
.ht-section__double--mobile-text-first{
  grid-template-areas: "ht-section__text"
                       "ht-section__image";
}
.ht-section__double--mobile-image-first{
  grid-template-areas: "ht-section__image"
                       "ht-section__text";
}
.ht-section__text{
  padding:100px 35px;
  background: #ffffff;
  grid-area: ht-section__text;
}
.ht-section__image{
  min-height: 450px;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: ht-section__image;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ht-section__wrapper { width: 100%; }
.ht-section__image iframe{
  width: 100% !important;
  height: 100vh !important;
}
.ht-section__cta{
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.ht-center__item{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media(min-width:767px){
  .ht-section__double{ grid-template-columns: 1fr 1fr; }
  .ht-section__single{ grid-template-columns: repeat(4,1fr); }
  .ht-single__wrapper{ grid-column: 2 / 4; }
  .ht-section__double--text-first{ grid-template-areas: "ht-section__text ht-section__image"; }
  .ht-section__double--image-first{ grid-template-areas: "ht-section__image ht-section__text"; }
  .ht-section__double--desktop-text-first{ grid-template-areas: "ht-section__text ht-section__image"; }
  .ht-section__double--desktop-image-first{ grid-template-areas: "ht-section__image ht-section__text"; }
  .ht-section__image,
  .ht-section__text{ min-height: 100vh;}
  .ht-section__text{
    min-height: calc( 100vh - 100px );
    display: flex;
    align-items: center;
    padding:100px;
  }
  .ht-section__cta{ justify-content: flex-start;}
  .ht-text__wrapper{
    width: 100%;
    max-height: 300px;
    overflow: auto;
  }
  .ht-text__wrapper::-webkit-scrollbar {
    width: 10px;
    border-radius: 100px;
    transition: ease-in 0.3s;
  }

  .ht-text__wrapper::-webkit-scrollbar-track {
    background: var(--cor-texto-rolagem-caminho);
    border-radius: 100px;
    transition: ease-in 0.3s;
  }
  .ht-text__wrapper::-webkit-scrollbar-thumb {
    background: var(--cor-texto-rolagem-alca);
    border-radius: 100px;
  }
  .ht-text__wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--cor-texto-rolagel-alca-hover);
  }
  
}
.ht-text a{
  color: var(--cor-primaria);
  font-weight: bold;
}
.ht-text p{
  margin-bottom: 35px;

  line-height: 22px;
}
.ht-text p:last-child{ margin-bottom: 0;}
.ht-text ul,
.ht-text ol{
  padding-left: 35px;
  padding-bottom: 35px;
}
.ht-text h1,
.ht-text h2,
.ht-text h3,
.ht-text h4,
.ht-text h5,
.ht-text h6{
  margin-bottom: 45px;
  display: block;

  color: var(--cor-principal);
  font-weight: bold;
}
.ht-text h1{ font-size: 1.77rem;  }
.ht-text h2{ font-size: 1.57rem;  }
.ht-text h3{ font-size: 1.47rem;  }
.ht-text h4{ font-size: 1.37rem;  }
.ht-text h5{ font-size: 1.27rem;  }
.ht-text h6{ font-size: 1.17rem;  }
.ht-text li{ margin-bottom: 10px;}
.ht-text a{ color: var(--cor-principal); }
.alignleft{
  float: left;
  margin: 15px;
  margin-left: 0;
  margin-top: 0;
}
.alignright{
  float: right;
  display: inline;
  margin-left: 15px;
  margin-top: 0;
  margin-right: 0;
}
.ht-text .aligncenter{
  margin:15px auto;
  display: block;
}
.ht-text blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 25px;
  quotes: "\201C""\201D""\2018""\2019";
}
.ht-text blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.ht-text blockquote p {
  display: inline;
}
.ht__produtos{
    display: flex;
    height: 100vh;
    color: #ffffff;
    img{
        width: 50vw;
    }
    div{
        width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #3C3C3C;

        padding-left: 130px;
        h1{
            margin-bottom: 40px;
            font-size: 28px
        }
        p{
            max-width: 460px;
            margin-bottom: 60px;

            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            text-align: justify;
        }
        a{
            height: 60px;
            width: 160px;
            background-color: #ffffff;
            border-radius: 20px;

            filter: drop-shadow(0px 15px 30px rgba(255, 255, 255, 0.2));
            text-decoration: none;
            color: #3C3C3C;
            
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        

    }
}
.ht-produto-header{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div{
    h1{
      text-align: center
    }
    p{
      margin-top: 40px;
      max-width: 480px;
      text-align: center;
    }
  }
  .ht-produto-list{
    display: flex ;
    flex-wrap: wrap;
    width: 80vw;
    height: auto;
    justify-content: center;

    margin-top: 60px;
    padding-bottom: 200px;
    .ht-produto-item{
      width: 522px;
      height: 200px;

      border-radius: 15px;
      margin: 10px;
      background-color: #b4b4b4;

      display: flex;
      justify-content: end;
      align-items: flex-end;
      text-decoration: none;

      background: linear-gradient(180deg, rgba(0, 38, 59, 0) 23.96%, #00263B 65.62%);
      opacity: 0.8;
      filter: drop-shadow(0px 15px 30px rgba(26, 26, 26, 0.25));
      border-radius: 15px;

      h1{
        margin: 40px 30px;
        border-bottom: 2px solid #042e53;
        padding-bottom: 15px;
        text-decoration: none;

        font-weight: 600;
        font-size: 32px;
        line-height: 24px;
        /* or 67% */

        display: flex;
        align-items: center;

        color: #FFFFFF;
      }
    }
  }

}
.ht__produtos-wraper{
  .sem-produtos{
    opacity: 0.5;
  }
  .gallery{
      width: 50vw;
      height: 700px;
      padding: 0 !important;
    a{
      width: 50vw;
      height: 700px;
    }


    }
    >h1{
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 180px;
  
      font-style: normal;
      font-weight: bold;
      font-size: 28px;
      line-height: 38px;
      display: flex;
      align-items: center;
      text-align: center;
  
      /* Azul */
  
      color: #00263B;
  
    }
    >div{
  
      .ht__produto-card{
        display: flex;
        width: 100vw;
        
        div{
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: flex-start;
          width: 50vw;
          height: 700px;
          background-color: #3C3C3C;
          padding: 140px 130px;
  
          h1{
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
            display: flex;
            align-items: center;
  
            /* Branco */
  
            color: #FFFFFF;
          }
          p{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            /* or 150% */
  
            display: flex;
            align-items: center;
            text-align: justify;
  
            color: #FFFFFF;
          }
          .button-produto{
            width: 159px;
            height: 60px;
            left: 0px;
            top: 0px;
  
            /* Branco */
  
            background: #FFFFFF;
            border-radius: 20px;
          
            display: flex;
            justify-content: center;
            align-items: center;
  
            text-decoration: none;
  
  
            /* Cinza Escuro */
  
            color: #3C3C3C;
  
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 18px;
          }
        }
      }
    }
}
.ht__agradecimento{
  display: flex;
  flex-direction: column;
  align-items: center;
  img{
    width: 40vw;
  }
  h1{
    margin-top: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;

    /* Azul Escuro */

    color: #052940;
  }
  p{
    margin-top: 40px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;

    /* Gray 1 */

    color: #333333;

  }
  a{
    margin-top: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 248px;
    height: 60px;

    background: #0476D9;
    border-radius: 20px;

    filter: drop-shadow(0px 15px 30px rgba(130, 130, 130, 0.25));

    text-decoration: none;

    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;
  }
}
.ht_trabalhe-conosco-wrapper{


  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background: #FCFCFC;

  >h1{
    margin-top: 60px;
    margin-bottom: 40px;
    
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    
    color: #052940;
  }
  >p{
    margin-bottom:60px ;

    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #1A1A1A;
    span{
      color: #0476D9;
    }
  }
  >div{
    width: 100vw;
    min-height: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 100px;
    div{
      margin: 20px 10px;
      width: 413px;
      height: 208px;
      

      background: #FFFFFF;
      border-radius: 10px;

      padding: 40px;

      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
      h1{
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        display: flex;
        align-items: center;

        color: #00263B;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;

        display: flex;
        align-items: center;
        text-align: justify;

        color: #1A1A1A;

        
      }
    }
  }
}

@media(max-width: 1200px) {
  .ht__produtos{
    flex-direction: column !important;
    height: auto;
    img, div{
      width: 100vw;
    }
    div{
      padding: 100px 45px;
    }

  }
  .ht-footer__image--hat-trick{
    margin: 0 !important;
  }
  .ht_footer__link{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .ht-contact{
    height: auto !important;
  }
  .ht-produto-header{
    .ht-produto-list{
      width: 95vw;
    }
    >div{
      h1{
        margin: 80px auto 40px auto;
        max-width: 70vw;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 33px;
        display: flex;
        align-items: center;
        text-align: center;

        /* Azul */

        color: #00263B;
      }
    }
  }
  .ht__produtos-wraper{
    .ht__produto-card{
      flex-direction: column;
      .gallery{
        padding: 0 !important;
        a{
            width: 100vw;
        }
      }
      >div{
        width: 100vw !important;
        padding: 100px 45px !important;
      }
    }
    
  }
  .ht__agradecimento{
    padding: 80px 0 ;
    min-height: 100vh;
    img{
      width: 90vw;
    }
    h1{
      text-align: center;
      font-size: 24px;
    }
  }
}