/* Sistema de produtos */

.ht-produto{
  display: grid;
  padding: 85px 15px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "ht-produto__back"
  "ht-produto__content"
  "ht-produto__galeria"
  "ht-produto__descricao"
  "ht-produto__relacionados";
  grid-gap: 15px;
}
.ht-produto__back{ grid-area: ht-produto__back }
.ht-produto__content{ grid-area: ht-produto__content }
.ht-produto__galeria{ grid-area: ht-produto__galeria }
.ht-produto__descricao{ grid-area: ht-produto__descricao }
.ht-produto__relacionados{ grid-area: ht-produto__relacionados }

.ht-produto__texto{ margin-bottom: 85px; }
.ht-produto__control{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.ht-control__item{
  width: calc( 40% - 15px );
  margin-right:15px;
  margin-bottom: 15px;
  align-items: center;
}
.ht-control__item:nth-child(2n){
  margin-right: 0;
  width: 60%;

  text-align: right;
}
.ht-control__item--full{
  width: 100%;
  margin-right: 0;
}
.ht-product__input--select{
  width: 100%;
  padding:10px;
  border:1px solid #4F4F4F;
  border-radius: 10px;
  transition: ease-in 0.3s;

  color: #4F4F4F;
  font-size: 16px;
}
.ht-product__input:focus,
.ht-product__input:active{
  border:1px solid #F78B09;
}
.ht-control__number{
  padding: 15px;
  display: inline-flex;
  align-items: center;
  background: #F2F2F2;
  border-radius: 10px;

  color: #4F4F4F;
  text-decoration: none;
}
.ht-control__input{
  background: rgba(255,255,255,0);
  -webkit-appearance: none;
  margin: 0;
  border:0;
  border-bottom: 1px solid #4F4F4f;
  width: 45px;

  text-align: center;
  font-size: 1.025rem;
  color: #4F4F4F;
}
.ht-control__button{
  color: #4F4F4f;
  text-decoration: none;
  cursor: pointer;
}
.ht-control__add{ background: var(--cor-produto-botao); }
.ht-galeria__wrapper{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: 250px
  80px;
}
.ht-galeria__wrapper--vazio{
  display: block;
  width: 100%;
  height: 100%;
  min-height: 250px;
  background-color: #B0B0B0;
  background-image: url("../image/logo-dm-vazio.png");
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 15px;
}
.ht-galeria__item:nth-child(1)
{ grid-column: 1 / 4; }
.ht-galeria__item{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: inline-block;
  margin:0;
}
.ht-galeria__item--hide{
  display: none;
}
.ht-galeria__thumb{ display: none; }
.ht-galeria__overlay{
  width: 100%;
  height: 100%;
  display: flex;
  background:rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-size: 2rem;
}
.ht-control__details{
  margin-top: 35px;

  font-size: 0.9rem;
  font-weight: bold;
  color: #828282;
}
.ht-details__item{ margin-bottom: 10px; }
.ht-details__item:last-child{ margin-bottom: 0; }
.ht-descricao__wrapper{
  width: 100%;
  max-width: 850px;
  margin:80px auto;
}
.ht-descricao__item{ margin-bottom: 50px;}
.ht-descricao__item:last-child{ margin-bottom: 0}
.ht-descricao__video{
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}
.ht-descricao__video iframe{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media(min-width:768px){
  .ht-produto{
    padding:85px;
    grid-template-columns: 1fr 1fr;
    grid-gap: 55px;
    grid-template-areas: "ht-produto__back ht-produto__back"
    "ht-produto__galeria ht-produto__content"
    "ht-produto__descricao ht-produto__descricao"
    "ht-produto__relacionados ht-produto__relacionados";
  }
  .ht-control__item{ width: calc( 30% - 15px ); }
  .ht-control__item:nth-child(2n){ width: 70%; }
  .ht-control__item--full{
    width: 100%;
    margin-right: 0;

    text-align: right;
  }
}
@media(min-width:1024px){
  .ht-galeria__wrapper{
    grid-template-rows: 450px
    120px;
  }
  .ht-galeria__wrapper--vazio{ min-height: 450px; }
}
@media(max-width:767px){ .ht-control__add{ width: 100%; } }

.ht-produtos{
  display: grid;
  padding: 85px 15px;
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-areas: "ht-produtos__sidebar"
  "ht-produtos__lista";
  grid-gap: 15px;
}
.ht-produtos__sidebar{ grid-area: ht-produtos__sidebar }
.ht-produtos__lista{ grid-area: ht-produtos__lista }
.ht-produtos__wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
.ht-produtos-item__wrapper{
  width: 100%;
  height: 100%;
  min-height: 350px;
  background:#ffffff;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(196, 196, 196, 0.5);
  padding:20px;
}
.ht-produtos-item__image{
  width: 100%;
  height: 150px;
  display: flex;
  border-radius: 10px;
  background-position: center center;
  background-image: url("../image/logo-dm-vazio.png");
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #B0B0B0;

  text-decoration: none;
}
.ht-produtos-item__image:hover .ht-produtos-item__image--saibamais{
  opacity: 1;
  transition: ease-in 0.3s;
}
.ht-produtos-item__image--saibamais{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in 0.3s;
  opacity: 0;

  text-decoration: none;
}
.ht-produtos-item__image--buttom{
  background: var(--cor-produto-botao);
  border-radius: 10px;
  padding:10px;

  color: #ffffff;
  text-decoration: none;
}
.ht-produtos__title{
  margin-bottom: 25px;

  font-size: 1.025rem;
  font-weight: bold;
  color: var(--cor-produto-titulo);
}
.ht-produtos__button{
  width: 100%;
  display: block;

  text-align: center;
  text-decoration: none;
}
.ht-produtos__button--submit{
  background-color: var(--cor-produto-botao);
  padding:20px;
}
.ht-produto__back{
  display: block;
  margin-bottom: 30px;
}
.ht-back__item{
  padding:20px;
  border: 1px solid #828282;
  border-radius: 15px;
  transition: ease-in 0.3s;
  margin-bottom: 35px;

  text-decoration: none;
  color: #828282;
}
.ht-back__item:hover{
  background-color: #828282;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);

  color: #ffffff;
}
.ht-produtos-sidebar__group{
  width: 100%;
  display: block;
  border:1px solid var(--cor-produto-box-bg);
  border-radius: 10px;
  padding: 0;
  margin:0;
  margin-bottom: 35px;
  overflow: hidden;
}
.ht-produtos-sidebar__title{
  width: 100%;
  padding:20px;
  background: var(--cor-produto-box-bg);

  color: var(--cor-produto-box-text);
  font-size: 1rem;
  font-weight: bold;
}
.ht-produtos-sidebar__item{
  padding:15px;
  display: block;
  width:100%;

  font-size: 0.875rem;
}
.ht-produtos-sidebar__item--parent{ padding-left: 30px;}
.ht-produtos-sidebar__link{ color: #1A1A1A; }
.ht-produtos-sidebar__wait{
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background:rgba(0,0,0,0.8);
  z-index:99999999999;

  color: #ffffff;
  font-size: 3.125rem;
}
.ht-produtos-sidebar__wrapper{ display: none; }
.ht-produtos-sidebar__show{
  width: 100%;
  display: block;
  background-color: var(--cor-produto-filter);
}
.ht-produtos-sidebar__wrapper--mobile{
  display: block;
  width: 100%;
  height: 100vh;
  background:#ffffff;
  position: fixed;
  top: 0;
  left: 0;
  padding:15px;
  padding-bottom: 120px;
  transform: translateY(-150vh);
  transition: ease-in 0.3s;
  z-index: 999999999;
  overflow: auto;
}
.ht-produtos-sidebar__wrapper--active body{ overflow: hidden;}
.ht-produtos-sidebar__wrapper--active .ht-produtos-sidebar__wrapper--mobile{ transform: translateY(0);}
.ht-produtos-sidebar__wrapper--active .ht-produtos-sidebar__submit{ transform: translateY(0);}
.ht-produtos-sidebar__close{
  display: flex;
  align-items: center;
  padding:15px 0;

  font-size: 1.25rem;
  color: #870000;
}
.ht-produtos-sidebar__submit{
  position: fixed;
  display: block;
  bottom: 0;
  left: 0;
  width: 100%;
  padding:15px;
  background-color: #ffffff;
  box-shadow: 0 -5px 10px rgba(0,0,0,0.15);
  z-index: 999999999;
  transform: translateY(+50vh);
  transition: ease-in 0.3s;
}
.ht-produtos-sidebar__submit--item{
  width: 100%;
  display: flex;
  align-items: center;
  background:var(--cor-produto-filter);
  border-radius: 10px;
  padding:25px 15px;

  color: var(--cor-produto-filter-text);
  text-align: center;
  font-weight: bold;
  font-size: 1.125rem;
}
@media(min-width:1000px){
  .ht-produtos{
    padding:85px;
    grid-gap: 55px;
    grid-template-columns: 300px auto;
    grid-template-areas: "ht-produtos__sidebar ht-produtos__lista";
  }
  .ht-produtos__wrapper{
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
  }
  .ht-produtos-item__image{ height: 190px;}
  .ht-produtos-sidebar__wrapper{ display: block}
  .ht-produtos-sidebar__wrapper--mobile,
  .ht-produtos-sidebar__show{ display: none; }
}
@media(min-width:1200px){
  .ht-produtos__wrapper{ grid-template-columns: repeat(4,1fr); }
}
.ht-carrinho{
  padding: 85px 15px;
  width: 100%;
}
.ht-carrinho__title{
  text-align: center;
  margin-bottom: 85px;
}
.ht-carrinho__content{ width: 100%; }
.ht-carrinho__list,
.ht-carrinho__header{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  grid-template-areas: "ht-carrinho__header--product";
  width: 100%;
  padding:25px;
  border-bottom: 1px solid #E0E0E0;
}
.ht-carrinho__item--link{
  color: #1A1A1A;
  text-decoration: none;
}
.ht-carrinho__item--link:hover{ text-decoration: underline; }
.ht-carrinho__header--product{
  grid-area: ht-carrinho__header--product;
  align-items: center;
  text-align: center;
}
.ht-carrinho__header--qtd{
  grid-area: ht-carrinho__header--qtd;
  justify-self: center;
  align-items: center;
  display: none;
}
.ht-carrinho__header--product,
.ht-carrinho__header--qtd{ font-weight: bold; }
.ht-carrinho__item{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  padding:15px;
  grid-template-areas: "ht-carrinho__item--product"
  "ht-carrinho__item--qtd";
}
.ht-carrinho__item--product{
  grid-area: ht-carrinho__item--product;
  align-self: center;

  text-align: center;
  text-transform: uppercase;
  font-size: 0.9rem;
}
.ht-carrinho__item--qtd{
  grid-area: ht-carrinho__item--qtd;
  align-self: center;
  justify-self:center;
}
.ht-carrinho__item:nth-child(even){
  border-radius: 10px;
  background:#fbfbfb;
}
.ht-carrinho__mais{
  margin-top: 50px;
  width: 100%;

  text-align: center;
}
.ht-carrinho__control{
  margin-top: 55px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ht-control__alert{
  width: 100%;

  color: #9F9F9F;
  font-weight: bold;
  font-size: 0.9rem;
  text-align: left;
}
.ht-carrinho__voltar{
  margin-right: 15px;
  border:0;
  cursor: pointer;
  display: none;
}
.ht-carrinho__submit{
  background: var(--cor-produto-botao);
  width: 100%;

  text-align: center;
}
.ht-carrinho__item--image{
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin:0 auto;
  margin-bottom: 25px;
  background-image: url("../image/logo-dm-vazio.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  background-color: #B0B0B0;
}
.ht-carrinho__item--opcao{
  display: block;

  text-align: center;
  font-size: 0.8rem;
}
.ht-carrinho__remover{
  background: #870000;
  padding:20px;

  font-size: 0.8rem;
}
@media(min-width:768px)
{
  .ht-carrinho{
    padding:85px;
    grid-gap: 55px;
  }
  .ht-carrinho__title{
    text-align: left;
  }
  .ht-carrinho__item,
  .ht-carrinho__header{ grid-template-columns: auto 200px; }
  .ht-carrinho__header{ grid-template-areas: "ht-carrinho__header--product ht-carrinho__header--qtd"; }
  .ht-carrinho__item{ grid-template-areas: "ht-carrinho__item--product ht-carrinho__item--qtd"; }
  .ht-carrinho__header--product{ text-align: left; }
  .ht-carrinho__item--product{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    width:100%;
    text-align: left;
  }
  .ht-carrinho__item--image{
    display: inline-block;
    margin: 0;
    margin-right: 15px;
  }
  .ht-carrinho__header--qtd{ display: block;}
  .ht-carrinho__voltar{ display: inline;}
  .ht-carrinho__item--opcao::before{ content: " - "; }
  .ht-carrinho__submit{ width: auto; }
}
.ht-produto__title{
  margin-bottom: 40px;

  font-size: 1.33rem;
  color: var(--cor-produto-titulo);
  text-transform: uppercase;
  font-weight: bold;
}
