

.ht-testimonal__wrapper{ background-color: #F4F4F4; }
.ht-testimonal{
  width: 200px;
  margin:0 auto;
}
.testimonal__title{
  margin-bottom: 50px;

  text-align: center;
  color: var(--cor-primaria);
}
.ht-testimonal__text{ color: var(--cor-escura); }
@media(min-width:350px){
  .ht-testimonal{ width: 300px; }
}
@media(min-width:1000px){
  .ht-testimonal{ width: 430px; }
}
.ht-testimonal__info{
  width: 100%;
  margin:35px auto;
  display: grid;
  grid-template-columns: 40px auto;
  grid-gap: 10px;
}
.ht-testimonal__more{
  font-weight: bolder;
  color: var(--cor-primaria);
}
.ht-testimonal__name--text{
  display: block;
  margin-bottom: 5px;

  font-size: 1.2rem;
  color: var(--cor-primaria);
}
.ht-testimonal__name--sub{
  font-size: 0.9rem;
  color: var(--cor-primaria);
}
.testimonal__arrow{
  position: absolute;
  display: inline-block;
  bottom: -25px;
  background-size: cover;
  background-position: left;
  overflow: hidden;
  height: 25px;
  cursor: pointer;

  text-indent: -9000px;
}
.testimonal__arrow--texto{
  bottom: -35px;
}
.testimonal__arrow--next{
  background-image: url("../../image/control-left.png");
  width: 25px;
  left: 0;
}
.testimonal__arrow--prev{
  background-image: url("../../image/control-right.png");
  width: 50px;
  left: 35px;
}
